
.snackboxmicro {

    --width: 800px;
    --height: 400px;
    --button-size: calc( var(--width) * .075);
    --button-size-lg: calc( var(--button-size) * 1.625);
    --button-size-sm: calc( var(--button-size) * .2);
    --blur: calc(var(--button-size) / 4);
    --displacement:  calc(var(--blur) / 2 );
    --font-size:1rem;
    --fs-sm: .75rem;
    --dark: #000;
    --nuetral: #333;
    --light: var(--light);

    position: relative;
    padding: 0;
    margin: 0;
    display:flex;
    width: var(--width);
    height: var(--height);
    border-radius: var(--button-size); /*oddly enough it works */
    box-shadow: var(--displacement) var(--displacement) var(--blur) rgba(0,0,0,.2);
    border: 2px solid var(--dark);
    border-top-color: var(--light);
    border-left-color: var(--light);
    color: var(--light);
    background-color: var(--nuetral);
}
.snackboxmicro .button {
  transform: translate(-50%,-50%);
}

.snackboxmicro .p1 {
  top:30%;
  left:50%;
}
.snackboxmicro .k1 {
  top:50%;
  left:50%;
}

.snackboxmicro .p2 {
  top: 25%;
  left: 60%;
}
.snackboxmicro .k2 {
  top: 45%;
  left: 60%;
}

.snackboxmicro .p3 {
  top: 25%;
  left: 70%;
}
.snackboxmicro .k3 {
  top: 45%;
  left: 70%;
}

.snackboxmicro .p4 {
  top:30%;
  left: 80%;
}
.snackboxmicro .k4 {
  top: 50%;
  left: 80%;
}


.snackboxmicro .left {
  top:25%;
  left:21.5%;
}
.snackboxmicro .down {
  top:28%;
  left: 32%;
}
.snackboxmicro .right {
  top:40%;
  left:41%;
}

.snackboxmicro .up{
  top:65%;
  left:50%;
  transform:translateX(-50%);
  height: var(--button-size-lg);
  width: var(--button-size-lg);
}

/* top */


.snackboxmicro .b8 {
  top:6%;
  left:12%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size:var(--fs-sm);
}

.snackboxmicro .b9 {
  top:6%;
  left:20%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size:var(--fs-sm);
}
.snackboxmicro .b10 {
  top:6%;
  left:23%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size:var(--fs-sm);
}
.snackboxmicro .b11 {
  top:6%;
  left:35%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size:var(--fs-sm);
}

.snackboxmicro .b16 {
  top:6%;
  left:38%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size:var(--fs-sm);
}
.snackboxmicro .b17 {
  top:6%;
  left:40%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size:var(--fs-sm);
}
