.snackboxmicro {
  --width: 500px;
  --height: calc(var(--width) / 2);
  --button-size: calc(var(--width) * 0.075);
  --button-outer: calc(var(--button-size) * 1.25);
  --button-size-lg: calc(var(--button-size) * 1.25);
  --button-outer-lg: calc(var(--button-size-lg) * 1.25);
  --button-size-sm: calc(var(--button-size) * 0.2);
  --button-outer-sm: calc(var(--button-size-sm) * 1.25);
  --blur: calc(var(--button-size) / 4);
  --displacement: calc(var(--blur) / 2);
  --font-size: calc(var(--width) / 50);
  --fs-sm: calc(var(--font-size) * 0.75);
  --dark: #000;
  --nuetral: #333;
  --light: var(--light);

  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  width: var(--width);
  height: var(--height);
  border-radius: var(--button-size); /*oddly enough it works */
  box-shadow: var(--displacement) var(--displacement) var(--blur) rgba(0, 0, 0, 0.2);
  border: 2px solid var(--dark);
  border-top-color: var(--light);
  border-left-color: var(--light);
  color: var(--light);
  background-color: var(--nuetral);
  font-size: var(--font-size);
}
.snackboxmicro .button {
  transform: translate(-50%, -50%);
}

.snackboxmicro .p1,
.snackboxmicro .b2 {
  top: 33%;
  left: 55%;
}
.snackboxmicro .k1,
.snackboxmicro .b0 {
  top: 60%;
  left: 55%;
}

.snackboxmicro .p2,
.snackboxmicro .b3 {
  top: 22%;
  left: 66%;
}
.snackboxmicro .k2,
.snackboxmicro .b1 {
  top: 48%;
  left: 66%;
}

.snackboxmicro .p3,
.snackboxmicro .b5 {
  top: 22%;
  left: 78.5%;
}
.snackboxmicro .k3,
.snackboxmicro .b7 {
  top: 48%;
  left: 78.5%;
}

.snackboxmicro .p4,
.snackboxmicro .b4 {
  top: 25%;
  right: 1%;
}
.snackboxmicro .k4,
.snackboxmicro .b6 {
  top: 50%;
  right: 1%;
}

.snackboxmicro .left,
.snackboxmicro .b14 {
  top: 38%;
  left: 19%;
}
.snackboxmicro .down,
.snackboxmicro .b13 {
  top: 38%;
  left: 32%;
}
.snackboxmicro .right,
.snackboxmicro .b15 {
  top: 48%;
  left: 44%;
}

.snackboxmicro .up,
.snackboxmicro .b12 {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

/* top */

.snackboxmicro .b8 {
  top: 6%;
  left: 12%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size: var(--fs-sm);
}

.snackboxmicro .b9 {
  top: 6%;
  left: 20%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size: var(--fs-sm);
}
.snackboxmicro .b10 {
  top: 6%;
  left: 23%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size: var(--fs-sm);
}
.snackboxmicro .b11 {
  top: 6%;
  left: 35%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size: var(--fs-sm);
}

.snackboxmicro .b16 {
  top: 6%;
  left: 38%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size: var(--fs-sm);
}
.snackboxmicro .b17 {
  top: 6%;
  left: 40%;
  height: var(--button-size-sm);
  width: var(--button-size-sm);
  font-size: var(--fs-sm);
}
