
.button {
    border-radius: 50%;
    background-color: #666;
    display: flex;
    width: var(--button-size);
    height: var(--button-size);
    justify-content: center;
    align-items: center;
    position:absolute;
    color: #ccc;
    box-shadow: 0 0 0 1px #999, 0 0 0 5px #666;
    transition-property: background-color;
    transition: 150ms linear;
}

