.button {
  border-radius: 50%;
  display: flex;
  width: var(--button-outer);
  height: var(--button-outer);
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #ccc;
  background-color: #999;
  transition: background-color 150ms ease-in-out;
}
.inner {
  background-color: #666;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button-sm {
  width: var(--button-outer-sm);
  height: var(--button-outer-sm);
}
.button-sm .inner {
  width: var(--button-size-sm);
  height: var(--button-size-sm);
}

.button.button-lg {
  width: var(--button-outer-lg);
  height: var(--button-outer-lg);
}
.button-lg .inner {
  width: var(--button-size-lg);
  height: var(--button-size-lg);
}
