html {
  box-sizing: border-box;
}
*,*::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0f0f0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {overflow:hidden;}

.hidden {
  display:none;
}

main {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 80vh;
  overflow:hidden;
}

p {
  padding:2rem;
  background-color: #ddd;
  font-size:2rem;
  border-radius: 10px;
}
